<div class="center jumbotron">
  <h1>BBS</h1>

  <h2>
    This is the BBS page
      <h3>
        <%= link_to "escape", "http://google.com/", class: "btn btn-sm btn-danger" %>
      <h3>
  </h2>
</div>
<p>
Title:<%= @bbspost.title%></br>
Name:<%= @bbspost.username%></br>
Content:<%= @bbspost.content %></br>
<%= link_to "POST", "bbsposts/create", class: "btn btn-sm btn-info btn-block" %>
</p>
